<nav>
    <ul class="pagination justify-content-center">
        {{$url := .url}}
        {{$previousPage := .page.PreviousPage}}
        {{$currentPage := .page.CurrentPage}}
        {{$nextPage := .page.NextPage}}
        {{if .page.Previous}}
        <li class="page-item"><a class="page-link" href="{{$url}}p={{$previousPage}}">Previous</a></li>
        {{end}}
        {{range $index, $pageNumber := .page.PageList}}
            <li class="page-item {{if eq $pageNumber $currentPage}}active{{end}}">
                <a class="page-link" href="{{$url}}p={{$pageNumber}}">{{$pageNumber}}</a>
            </li>
        {{end}}
        {{if .page.Next}}
        <li class="page-item"><a class="page-link" href="{{$url}}p={{$nextPage}}">Next</a></li>
        {{end}}
    </ul>
</nav>