{{define "content"}}
<div class="container-fluid" style="margin:10px 0px 10px 0px">
    <button type="button"
            data-url="/book/form"
            class="btn btn-primary openModalButton">Add</button>
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{range .bookList}}
            <tr>
                <th scope="row">{{.BookId}}</th>
                <td>{{.Name}}</td>
                <td>
                    <button type="button"
                            data-type="DELETE"
                            data-url="/book"
                            data-id-name="bookId"
                            data-id="{{.BookId}}"
                            class="btn btn-primary actionButton">Remove</button>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}