<!doctype html>
<html>
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap-4.1.3.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper-1.14.4.min.js"></script>
    <script src="/static/js/bootstrap-4.1.3.min.js"></script>
    <script src="/static/js/core.js"></script>
</head>
<body style="margin:20px">
{{block "head" .}}
<h1>Head</h1>
{{end}}
<hr>
{{template "content" .}}
<hr>
{{block "foot" .}}
<h1>Foot</h1>
{{end}}
</body>
</html>